* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: skyblue;
}
.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}
.calc {
  width: 300px;
  margin: 80px auto;
}
#answer {
  background-color: #e2e2e2;
  padding: 10px;
  text-align: right;
  font-size: 40px;
  width: 300px;
  height: 70px;
  border: 2px solid black;
  color: black;
  letter-spacing: 1px;
}
.button {
  background-color: #333;
  height: 70px;
  width: 75px;
  color: white;
  font-size: 25px;
  border: 1px solid black;
  float: left;
  cursor: pointer;
}

.btn {
  width: 150px;
}

input:focus,
input:active {
  background-color: #e2e2e2;
  color: black;
}
